<table class="table table-edit">
    <colgroup>
        <col style="" />
        <col style="width: 120px" />
        <col style="width: 120px" />
        <col style="width: 120px" />
        <col style="width: 120px" />
        <col style="width: 120px" />
        <col style="width: 80px" />
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Very Simple</th>
            <th>Simple</th>
            <th>Mediumn</th>
            <th>Complex</th>
            <th>Very Complex</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="factor in viewModel.project.Factors">
            <td><input type="text" class="form-control" ng-model="factor.Name" /></td>
            <td><input type="number" class="form-control" ng-model="factor.VerySimple" /></td>
            <td><input type="number" class="form-control" ng-model="factor.Simple" /></td>
            <td><input type="number" class="form-control" ng-model="factor.Medium" /></td>
            <td><input type="number" class="form-control" ng-model="factor.Complex" /></td>
            <td><input type="number" class="form-control" ng-model="factor.VeryComplex" /></td>
            <td>
                <div class="btn-group pull-right">
                    <a class="btn btn-link btn-sm" ng-click="viewModel.removeFactor(factor)"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="7">
                <div class="btn-group">
                    <a class="btn btn-link btn-sm" ng-click="viewModel.addFactor()">
                        <i class="glyphicon glyphicon-plus"></i> Add Factor
                    </a>
                    <a class="btn btn-link btn-sm" ng-click="viewModel.addTemplate()">
                        <i class="glyphicon glyphicon-plus"></i> Add Template
                    </a>
                </div>

            </th>
        </tr>
    </tfoot>
</table>


<script type="text/ng-template" id="templateModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewModel.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="templateModalLabel">Add Factor Template</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="factorTemplate" class="control-label">Template:</label>
            <select id="factorTemplate" name="factorTemplate" class="form-control" ng-model="viewModel.selected" ng-options="item.Name for item in viewModel.items">
                <option value="">-- select --</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="viewModel.select()">Add</button>
        <button type="button" class="btn btn-default" ng-click="viewModel.cancel()">Cancel</button>
    </div>
</script>