<table class="table table-striped table-hover">
    <colgroup>
        <col />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 90px" />
        <col style="width: 90px" />
        <col style="width: 90px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
    </colgroup>
    <thead>
        <tr>
            <th>
                <a ng-click="viewModel.sortClick('Name')"
                   style="display: block;">
                    Name
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'Name'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('HoursPerWeek')"
                   style="display: block;">
                    Hours Per<br /> Week
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'HoursPerWeek'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('ContingencyRate')"
                   style="display: block;">
                    Contingency<br />Rate
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'ContingencyRate'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('TotalTasks')"
                   style="display: block;">
                    Total<br /> Tasks
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'TotalTasks'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('TotalHours')"
                   style="display: block;">
                    Total<br /> Hours
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'TotalHours'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('TotalWeeks')"
                   style="display: block;">
                    Total<br /> Weeks
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'TotalWeeks'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('ContingencyHours')"
                   style="display: block;">
                    Contingency<br />Hours
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'ContingencyHours'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('ContingencyWeeks')"
                   style="display: block;">
                    Contingency<br />Weeks
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'ContingencyWeeks'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('SysUpdateDate')"
                   style="display: block;">
                    Updated
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'SysUpdateDate'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('SysUpdateUser')"
                   style="display: block;">
                    Updator
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'SysUpdateUser'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="estimate in viewModel.result.Data">
            <td>
                <a style="display: block" href="Estimate/Edit/{{estimate.Id}}" title="{{estimate.Name}}">{{estimate.Name}}</a>
            </td>
            <td>{{estimate.HoursPerWeek}}</td>
            <td>{{estimate.ContingencyRate}}%</td>
            <td>{{estimate.TotalTasks}}</td>
            <td>{{estimate.TotalHours}}</td>
            <td>{{estimate.TotalWeeks | number:2}}</td>
            <td>{{estimate.ContingencyHours}}</td>
            <td>{{estimate.ContingencyWeeks | number:2}}</td>
            <td>
                <abbr title="{{estimate.SysUpdateDate | date:'fullDate'}}">
                    <span>{{estimate.SysUpdateDate | date:'MM/dd/yyyy'}}</span>
                </abbr>
            </td>
            <td>{{estimate.SysUpdateUser}}</td>
        </tr>
    </tbody>
</table>

<pagination ng-model="viewModel.result.Page"
            total-items="viewModel.result.Total"
            items-per-page="viewModel.result.PageSize"
            max-size="10"
            class="pagination"
            boundary-links="true"
            rotate="false"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
            ng-change="viewModel.load()">
</pagination>
