<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="projectName">Project Name:</label>
            <input type="text" class="form-control" id="projectName" name="projectName" placeholder="Project Name" required="required" ng-model="viewModel.project.Name">
        </div>
        <div class="form-group">
            <label for="projectDescription">Description:</label>
            <textarea class="form-control" rows="5" id="projectDescription" name="projectDescription" ng-model="viewModel.project.Description"></textarea>
        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="hoursPerWeek">Hours Per Week:</label>
            <input type="number" class="form-control" id="hoursPerWeek" name="hoursPerWeek" ng-model="viewModel.project.HoursPerWeek">
        </div>
        <div class="form-group">
            <label for="contingencyRate">Contingency Rate:</label>
            <input type="number" class="form-control" id="contingencyRate" name="contingencyRate" ng-model="viewModel.project.ContingencyRate">
        </div>

    </div>
    <div class="col-md-3">
        <table>
            <tbody>
                <tr>
                    <th>Created:</th>
                    <td><span am-time-ago="viewModel.project.SysCreateDate"></span></td>
                </tr>
                <tr>
                    <th>Creator:</th>
                    <td>{{viewModel.project.SysCreateUser}}</td>
                </tr>
                <tr>
                    <th>Updated:</th>
                    <td><span am-time-ago="viewModel.project.SysUpdateDate"></span></td>
                </tr>
                <tr>
                    <th>Updator:</th>
                    <td>{{viewModel.project.SysUpdateUser}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

