<div class="row">
    <div class="col-md-9">
        <div class="form-group">
            <label for="projectName">Project Name:</label>
            <input type="text" class="form-control" id="projectName" name="projectName" placeholder="Project Name" required="required" ng-model="viewModel.project.Name">
        </div>
        <div class="form-group">
            <label for="projectDescription">Description:</label>
            <textarea class="form-control" rows="5" id="projectDescription" name="projectDescription" ng-model="viewModel.project.Description"></textarea>
        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="hoursPerWeek">Hours Per Week:</label>
            <input type="number" min="0" max="100" class="form-control" id="hoursPerWeek" name="hoursPerWeek" ng-model="viewModel.project.HoursPerWeek" required="required">
        </div>
        <div class="form-group">
            <label for="contingencyRate">Contingency Rate (Percentage):</label>
            <input type="number" min="0" max="200" class="form-control" id="contingencyRate" name="contingencyRate" ng-model="viewModel.project.ContingencyRate" required="required">
        </div>
    </div>
</div>

