@model System.Guid
@{
    ViewBag.Title = "Edit Estimate";
}

<div class="container" ng-controller="estimateEditController" ng-init="viewModel.estimateId = '@Model'">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("Index")">Estimates</a></li>
        <li class="active">Edit</li>
    </ol>
    @Html.Partial("_Estimate")
</div>

