
@{
    ViewBag.Title = "Estimates";
}

<div class="container" ng-controller="estimateListController">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="active">Estimates</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-list"></i> Estimates
                
            <div class="btn-group pull-right ">
                <a class="btn btn-sm btn-primary" href="~/Estimate/Create">Create</a>
            </div>
        </div>
        <div class="panel-body">
            @Html.Partial("_List")
        </div>
    </div>
</div>
