@page "/"

<PageTitle>Home - EstimatorX</PageTitle>

<div class="container-xxl">
    <div class="bg-light p-5 rounded">
        <h1>
            <img src="/images/full-logo.svg" title="EstimatorX" alt="EstimatorX" height="70" width="315" />
        </h1>
        <p class="lead">
            A simple project estimation application.
        </p>
        <p>
            <a href="/projects/create" class="btn btn-primary btn-lg">Create Estimate &raquo;</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-calculator"></i>
                </div>
                <div class="feature-body">
                    <h3>Projects</h3>
                    <p>
                        A project contains all the details that make up an estimate. An estimate is broken down into Epics and Features.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="feature-body">
                    <h3>Organizations</h3>
                    <p>
                        Projects and Templates are placed in an organization. All members of the organization can edit the Project or Template.
                    </p>
                    <p>
                        Select 'Private' to make the Project or Template accessible by only you.
                    </p>
                </div>
            </div>

            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-share-alt"></i>
                </div>
                <div class="feature-body">
                    <h3>Templates</h3>
                    <p>
                        A template is a group of factors you can quickly add to a project. Templates allow reuse of common factors accross projects.
                    </p>
                </div>
            </div>

            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-crown"></i>
                </div>
                <div class="feature-body">
                    <h3>Epics</h3>
                    <p>
                        A high level deliverable that provides business value, this is the largest units of work in most projects and groups together one or more features.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-trophy"></i>
                </div>
                <div class="feature-body">
                    <h3>Features</h3>
                    <p>
                        Features are broken down components that are individually deliverable, and when combined comprise the epic. A feature should provide business value in support of an Epic.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-flag"></i>
                </div>
                <div class="feature-body">
                    <h3>Assumptions</h3>
                    <p>
                        When making an estimate, there are assumptions the estimator makes to come up with the estimate. Document those assumptions to help raise the red flag in the future when an assumptions proves not to be true.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="feature-body">
                    <h3>Risk</h3>
                    <p>
                        How risky is the feature, based on the computed multiplier. The Risk Scale can be customized via the project settings.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-wrench"></i>
                </div>
                <div class="feature-body">
                    <h3>Effort</h3>
                    <p>
                        What is the high level effort of the feature, based on the estimate. The Effort Scale can be customized via the project settings.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-check"></i>
                </div>
                <div class="feature-body">
                    <h3>Estimate</h3>
                    <p>
                        The estimated value for the feature. The available values are customizable via the project settings.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-glasses"></i>
                </div>
                <div class="feature-body">
                    <h3>Clarity</h3>
                    <p>
                        How well has the feature been outlined and defined? How well do you understand it? This is not a &quot;simplicity&quot; call - this is a measure for understanding.
                    </p>
                    <ul>
                        <li><strong>Low</strong> There is no documentation, the item has not have even been covered with the customer</li>
                        <li><strong>Medium Low</strong> There is not much documentation, the item may not have even been covered with the customer</li>
                        <li><strong>Medium</strong> There is not much documentation, but the customer was able to walk through the desired functionality</li>
                        <li><strong>Medium High</strong> There is some documentation, the desired functionality is understood but may not be well documented</li>
                        <li><strong>High</strong> There is extensive documentation, up to and including technical requirements, examples, the desired outcome is well understood and acceptance criteria is understood</li>
                    </ul>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-user-graduate"></i>
                </div>
                <div class="feature-body">
                    <h3>Confidence</h3>
                    <p>
                        How confident/comfortable are you in the estimate based on everything you know? Have you done something like this before? Are you familiar with all technologies involved? Have they all been identified?
                    </p>
                    <ul>
                        <li><strong>Low</strong> Solution is not know and more discovery is required</li>
                        <li><strong>Medium Low</strong> Approach is not clear and research / proof of concept WILL be required. Current understanding of the requirements support reasonable feasibility for this work being achievable.</li>
                        <li><strong>Medium</strong> Haven’t done something super similar, but have done stuff related. Have ideas of approaches but no clear direction, some research and discussion will be needed to pick an approach</li>
                        <li><strong>Medium High</strong> Have done similar but not this, have an idea of the technology and approach we would use</li>
                        <li><strong>High</strong> Have done it before, pretty sure on the numbers</li>
                    </ul>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-sliders-h"></i>
                </div>
                <div class="feature-body">
                    <h3>Multiplier</h3>
                    <p>
                        Multiplier is a computed value used to pad the estimate based on the Clarity and Confidence of the feature. The multiplier matrix is customizable via the project settings
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <i class="fas fa-check-double"></i>
                </div>
                <div class="feature-body">
                    <h3>Weighted Estimate</h3>
                    <p>
                        The estimated value times the multiplier is the weighted estimate.
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>
