@page "/"

<div class="container">
    <div class="bg-light p-5 rounded">
        <h1>
            <img src="/images/full-logo.svg" title="EstimatorX" height="70" />
        </h1>
        <p class="lead">
            A simple project estimation application.
        </p>
        <p>
            <a href="/projects/create" class="btn btn-primary btn-lg">Create Estimate &raquo;</a>
        </p>
    </div>
</div>