<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto py-5">
            <div class="card border-danger">
                <div class="card-header text-white bg-danger">
                    <i class="fas fa-exclamation-triangle"></i> Access Denied
                </div>
                <div class="card-body text-danger">
                    <p>
                        You do not have access to this resource.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

