<div>
    <p>@Message</p>

    <div class="pt-1 text-end">
        <button @onclick="Close" class="btn btn-danger me-1">Delete</button>
        <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
    </div>
</div>


