<div class="d-flex justify-content-center mb-3">
    <span class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></span>
</div>
<h3 class="d-flex justify-content-center">
    @Text
</h3>

@code {
    [Parameter]
    public string Text { get; set; } = "Loading ...";
}
