<div id="error-page">
    <div class="error-page">
        <div class="error-page-404">
            <h3>Oops! Resource Not Found</h3>
            <h1><span>4</span><span>0</span><span>4</span></h1>
        </div>
        <h2>The requested resource could not be found.</h2>
    </div>
</div>

