@typeparam TItem

@using EstimatorX.Shared.Definitions

<div>
    <ul class="list-group reorder">
        <Repeater Items="Items">
            <Row Context="item">
                <li class="list-group-item list-group-item-action"
                    draggable="true"
                    title="@item.Name"
                    @ondragstart="() => HandleDragStart(item)"
                    @ondrop="(e) => HandleDrop(item)"
                    @ondragover="(e) => HandleDragOver(item)"
                    @ondrop:preventDefault
                    @ondragover:preventDefault
                    @ondragenter:preventDefault
                    @ondragleave:preventDefault>
                    <i class="fas fa-grip-vertical me-2"></i> @item.Name
                </li>
            </Row>
        </Repeater>
    </ul>

    <p class="text-muted text-center p-1">
        Click and drag to reorder
    </p>

    <div class="pt-1 text-end">
        <button @onclick="Close" class="btn btn-primary me-1">Ok</button>
        <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
    </div>
</div>



