.table-edit {
  position: relative;

  .header-sticky {
    background-color: #fff;
    position: sticky;
    top: 3.7rem;
    z-index: 1020;
  }

  > tbody {
    > tr {
      > td {
        padding: 0;
        vertical-align: middle;
      }
    }
  }

  .form-control {
    padding-right: 6px;
    padding-left: 6px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;

    &:focus {
      border-color: #66afe9;
      background-color: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
      outline: 0 none;
    }
  }

  .form-control-static {
    padding: 6px 12px;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  select.no-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    -moz-text-overflow: '';
    text-overflow: '';
    padding-right: 12px !important;
    background-image: url('caret.png');
    background-repeat: no-repeat;
    background-position: right;
  }

  select::-ms-expand {
    width: 12px;
    border: none;
    background: #fff;
    display: none;
  }

  .table-epic-row {
    background-color: lighten($estimate-epic-color, 45%);
  }

  .dropdown {
    .btn {
      padding: 0;
    }
  }
}
