version: 1.0.0.{build}
os: Windows Server 2012 R2
skip_tags: true
environment:
  Major: 1
  Minor: 0
  Patch: 0
install:
- ps: .\Deploy\Install-MongoDb.ps1
configuration: Release
before_build:
- .\bootstrap.cmd
build:
  project: master.proj
  verbosity: minimal
test: off
artifacts:
- path: '.\Build\*.nupkg'