@page "/templates/{id}/{organizationId}"
@using Blazored.FluentValidation
@using EstimatorX.Client.Repositories
@using EstimatorX.Client.Services
@using EstimatorX.Client.Stores
@using EstimatorX.Shared.Extensions
@using EstimatorX.Shared.Models
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager Navigation
@inject TemplateRepository TemplateRepository
@inject NotificationService NotificationService
@inject UserStore UserStore

@attribute [Authorize]

<h3>Template Edit</h3>

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string OrganizationId { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; }

    private Template Template { get; set; } = new();

    private bool IsUpdate => Id.HasValue();

    private bool IsBusy { get; set; }

    private int OriginalHash { get; set; }

    private bool IsDiry => OriginalHash != Template.GetHashCode();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Template = await TemplateRepository.Load(Id, OrganizationId);
            if (Template == null)
                Navigation.NavigateTo("/templates");

            OriginalHash = Template.GetHashCode();
            return;
        }
        catch (Exception ex)
        {
            NotificationService.ShowError(ex);
        }
    }

    protected async Task HandleSave()
    {
        try
        {
            IsBusy = true;
            Template = await TemplateRepository.Save(Template, Id, OrganizationId);
            OriginalHash = Template.GetHashCode();

            NotificationService.ShowSuccess($"Template '{Template.Name}' saved successfully");
            Navigation.NavigateTo($"/templates/{Template.Id}/{Template.OrganizationId}");
        }
        catch (Exception ex)
        {
            NotificationService.ShowError(ex);
        }
        finally
        {
            IsBusy = false;
        }
    }

    protected async Task HandleDelete()
    {
        try
        {
            var name = Template.Name;

            var parameters = new ModalParameters();
            parameters.Add(nameof(ConfirmDelete.Message), $"Are you sure you want to delete template '{name}'?");

            var messageForm = Modal.Show<ConfirmDelete>("Confirm Delete", parameters);
            var result = await messageForm.Result;

            if (result.Cancelled)
                return;

            IsBusy = true;

            await TemplateRepository.Delete(Id);

            NotificationService.ShowSuccess($"Template '{Template.Name}' deleted successfully");
            Navigation.NavigateTo("/templates");
        }
        catch (Exception ex)
        {
            NotificationService.ShowError(ex);
        }
        finally
        {
            IsBusy = false;
        }
    }

}
