@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto py-5">
            <div class="card border-danger">
                <div class="card-header text-white bg-danger">
                    @RenderSection("Header", required: true)
                </div>
                <div class="card-body text-danger">
                    @RenderBody()
                </div>
                <div class="card-footer text-danger">
                    @RenderSection("Footer", required: false)
                </div>
            </div>
        </div>
    </div>
</div>

