@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "_DangerLayout";
}

@section Header {
<i class="fas fa-exclamation-triangle"></i> Access Denied
}

<p>
    You do not have access to this resource.
</p>