@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
    Layout = Model.Succeeded ? "_AccountLayout" : "_DangerLayout";
}

@section Header {
<i class="fas fa-user"></i> Confirm Email
}

@if (Model.Succeeded)
{
    <p>
        Thank you for confirming your email.
    </p>
}
else
{
    <p>
        Your link either expired or was invalid.  Please try again.
    </p>
}
