@page
@model EstimatorX.Service.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_AccountLayout";
}

@section Header {
<i class="fas fa-user"></i> Forgot Password
}

<form id="forgot-password-form"
      name="forgot-password-form"
      role="form"
      method="post">

    <p class="card-text font-weight-bold">Enter your email to receive a password reset link.</p>

    <div class="mb-3">
        <label class="form-label" asp-for="Input.Email">Email Address</label>
        <input asp-for="Input.Email"
               type="email"
               class="form-control"
               placeholder="Email Address">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button id="send-reset-button"
            type="submit"
            class="btn btn-primary">
        Submit
    </button>
</form>

@section Footer {
<div class="row">
    <div class="col text-center">
        <a class="card-link" asp-page="/Account/Register">Register as a new user</a>
    </div>
    <div class="col text-center">
        <a class="card-link" asp-page="/Account/Login">Return to Login</a>
    </div>
</div>
}
