@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_AccountLayout";
}

@section Header {
<i class="fas fa-user"></i> Forgot Password
}

<p>
    Please check your email for a link to reset your password.
</p>
