@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked Out";
    Layout = "_DangerLayout";
}

@section Header {
<i class="fas fa-exclamation-triangle"></i> Locked Out
}

<p>
    This account has been locked out, please try again later.
</p>