@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "_AccountLayout";
}

@section Header {
<i class="fas fa-user"></i> Log out
}

<p>
    You have successfully logged out of the application.
</p>

