@page
@model EstimatorX.Service.Pages.Account.PasswordlessModel
@{
    ViewData["Title"] = "Login with password";
    Layout = "_AccountLayout";
}

@section Header {
<i class="fas fa-user"></i> Login

<ul class="nav nav-tabs card-header-tabs float-end">
    <li class="nav-item">
        <a id="user-profile-tab"
           title="Login with password"
           class="nav-link"
           asp-page="/account/login"
           asp-route-returnurl="@Model.ReturnUrl">Password Login</a>
    </li>
    <li class="nav-item">
        <a id="user-password-tab"
           title="Login via email link"
           class="nav-link active"
           asp-page="/account/passwordless"
           asp-route-returnurl="@Model.ReturnUrl">Email Login</a>
    </li>
</ul>

}

<form id="login-form"
      name="login-form"
      role="form"
      method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col">
            <p class="text-muted">Enter the email address associated with your account to have a login link sent to your inbox.</p>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Input.Email">Email Address</label>
        <input asp-for="Input.Email"
               type="email"
               class="form-control"
               placeholder="Email Address">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <button id="send-button"
            type="submit"
            class="btn btn-primary">
        Send
    </button>

</form>

@section Footer {
<div class="row">
    <div class="col text-center">
        <a class="card-link"
           asp-page="/Account/Register"
           asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
    </div>
    <div class="col text-center">
        <a class="card-link"
           asp-page="/Account/ForgotPassword">Forgot your password</a>
    </div>
</div>
}

