@page
@model EstimatorX.Service.Pages.Account.PasswordlessConfirmationModel
@{
    ViewData["Title"] = "Login Sent";
    Layout = "_AccountLayout";
}

@section Header {
<i class="fas fa-user"></i> Login
}

<p>
    Your login link has been sent. Please check your email inbox.
</p>

