@page
@model EstimatorX.Service.Pages.Account.PasswordlessLoginModel
@{
    ViewData["Title"] = "Passwordless Login";
    Layout = Model.Succeeded ? "_AccountLayout" : "_DangerLayout";
}

@section Header {
<i class="fas fa-user"></i> Passwordless Login
}

@if (Model.Succeeded)
{
    <p>
        Login Succeeded, Redirecting ...
    </p>
}
else
{
    <p>
        Your link either expired or was invalid.  Please try again.
    </p>
}
