@page
@model EstimatorX.Service.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";
}

@section Header {
<i class="fas fa-user"></i> Register
}

<form id="register-form"
      name="register-form"
      role="form"
      method="post">

    <p class="card-text font-weight-bold">Create an account</p>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label class="form-label" asp-for="Input.DisplayName">Display Name <required /></label>
        <input asp-for="Input.DisplayName"
               type="text"
               class="form-control"
               placeholder="Display Name">
        <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Input.Email">Email Address <required /></label>
        <input asp-for="Input.Email"
               type="email"
               class="form-control"
               placeholder="Email Address">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Input.Password">Password <required /></label>
        <input asp-for="Input.Password"
               type="password"
               class="form-control"
               placeholder="Password">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Input.ConfirmPassword">Confirm Password <required /></label>
        <input asp-for="Input.ConfirmPassword"
               type="password"
               class="form-control"
               placeholder="Confirm Password">
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Register
    </button>

</form>

@section Footer {
<div class="row">
    <div class="col text-center">
        <a class="card-link" asp-page="/Account/Login">Return to Login</a>
    </div>
    <div class="col text-center">
        <a class="card-link" asp-page="/Account/ForgotPassword">Forgot your password</a>
    </div>
</div>
}
