@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "_AccountLayout";
}

@section Header {
<i class="fas fa-user"></i> Reset Password
}

<p>
    Your password has been reset. Please <a class="card-link" asp-page="./Login">click here to log in</a>.
</p>

