<div class="container">
    <div class="jumbotron">
        <h1>
            <img src="~/Content/EstimatorX-logo.png" title="EstimatorX" width="344" height="69" />
        </h1>
        <p class="lead">A simple project estimation application.</p>
        <p>
            <a href="@Url.Action("Create", "Project")" class="btn btn-primary btn-lg">Create Estimate &raquo;</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="feature">
                <div class="feature-icon">
                    <span class="fa fa-calculator"></span>
                </div>
                <div class="feature-body">
                    <h3>Projects</h3>
                    <p>
                        A project contains all the details that make up an estimate. An estimate is broken down into Assumptions, Factors and Tasks.
                        The estimate is padded with a contingency rate.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <span class="fa fa-flag"></span>
                </div>
                <div class="feature-body">
                    <h3>Assumptions</h3>
                    <p>
                        When making an estimate, there are assumptions the estimator makes to come up with the estimate.
                        Document those assumptions to help raise the red flag in the future when an assumptions proves not to be true.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <span class="fa fa-clock-o"></span>
                </div>
                <div class="feature-body">
                    <h3>Factors</h3>
                    <p>
                        Factors are a type of task with hours associated with the complexity of that task. Factors allow the estimator
                        to state hours based on a specific type of task, regardless of the project.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <span class="fa fa-check"></span>
                </div>
                <div class="feature-body">
                    <h3>Tasks</h3>
                    <p>
                        Tasks are a specific item or feature of the project being estimated. A task is assigned a Factor.
                        The estimator enters the number of tasks per complexity level.
                    </p>
                    <p>
                        Tasks are part of a Section. Sections are a way to group a set of common features. Tasks totals are also rolled up to the section level.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <span class="fa fa-bar-chart"></span>
                </div>
                <div class="feature-body">
                    <h3>Reports</h3>
                    <p>
                        Project estimates can be displayed as a simple report. The estimator can create a public shared link to allow anonymous view access to the report.
                        The report can also be downloaded as a PDF.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="feature">
                <div class="feature-icon">
                    <span class="fa fa-sliders"></span>
                </div>
                <div class="feature-body">
                    <h3>Contingency</h3>
                    <p>
                        Contingency percentage rate is the confidence level in the information used to create the estimate.  The contingency percentage rate is used to padded the estimate with a percentage rate.
                    </p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <span class="fa fa-bolt"></span>
                </div>
                <div class="feature-body">
                    <h3>Complexity</h3>
                    <p>
                        Tasks and Factors use following complexity scale.
                    </p>
                    <ul>
                        <li><strong>Very Simple</strong> - Task is trivial, owner knows how to solve the problem and can be done quickly.</li>
                        <li><strong>Simple</strong> - Owner knows how to solve the problem.</li>
                        <li><strong>Medium</strong> - Owner needs to do a little bit of research to solve the problem, but the resulting solution is not complex.</li>
                        <li><strong>Complex</strong> - Task needs research and some clarification on details. Resulting solution is not trivial.</li>
                        <li><strong>Very Complex</strong> - Task needs research and clarification. Resulting solution requires significant new work or change.</li>
                    </ul>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon">
                    <span class="fa fa-users"></span>
                </div>
                <div class="feature-body">
                    <h3>Organizations</h3>
                    <p>
                        Projects and Templates are placed in an organization. All members of the organization can edit the Project or Template.
                    </p>
                    <p>
                        Select 'Private' to make the Project or Template accessible by only you.
                    </p>
                </div>
            </div>

            <div class="feature">
                <div class="feature-icon">
                    <span class="fa fa-share-alt"></span>
                </div>
                <div class="feature-body">
                    <h3>Templates</h3>
                    <p>
                        A template is a group of factors you can quickly add to a project. Templates allow reuse of common factors accross projects.
                    </p>
                </div>
            </div>

        </div>
    </div>


</div>