<div class="container">
    <div class="jumbotron">
        <h1><img src="~/Content/EstimatorX-logo.png" title="EstimatorX" width="344" height="69"/>
        </h1>
        <p class="lead">A simple project estimation application.</p>
        <p><a href="@Url.Action("Create", "Project")" class="btn btn-primary btn-lg">Create Estimate &raquo;</a>
        </p>
    </div>
</div>