<table class="table table-striped table-hover">
    <colgroup>
        <col style="width: 300px" />
        <col />
        <col style="width: 160px" />
        <col style="width: 100px" />
    </colgroup>
    <thead>
        <tr>
            <th>
                <a ng-click="viewModel.sortClick('Name')"
                   style="display: block;">
                    Name
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'Name'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('Description')"
                   style="display: block;">
                    Description
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'Description'"
                          ng-class="{true:'dropup', false:'dropdown'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('Updated')"
                   style="display: block;">
                    Updated
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'Updated'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
            <th>
                <a ng-click="viewModel.sortClick('Updater')"
                   style="display: block;">
                    Updator
                    <span class="ng-hide dropdown"
                          ng-show="viewModel.result.Sort == 'Updater'"
                          ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                        <span class="caret" style="margin: 5px 5px;"></span>
                    </span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entity in viewModel.result.Data">
            <td>
                <a style="display: block" href="Organization/Edit/{{entity.Id}}" title="{{entity.Name}}">{{entity.Name}}</a>
            </td>
            <td>{{entity.Description}}</td>
            <td>
                <abbr title="{{entity.Updated | date:'fullDate'}}">
                    <span am-time-ago="entity.Updated"></span>
                </abbr>
            </td>
            <td>{{entity.Updater}}</td>
        </tr>
    </tbody>
</table>

<pagination ng-model="viewModel.result.Page"
            total-items="viewModel.result.Total"
            items-per-page="viewModel.result.PageSize"
            max-size="10"
            class="pagination"
            boundary-links="true"
            rotate="false"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
            ng-change="viewModel.load()">
</pagination>

