@using Microsoft.AspNet.Identity
<div class="row">
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-hover table-condensed" style="table-layout: fixed">
                <colgroup>
                    <col style="width: 150px" />
                    <col style="width: 200px" />
                    <col style="width: 30px" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in viewModel.members">
                        <td>
                            <div class="nowrap">
                                {{member.Name}}
                            </div>
                        </td>
                        <td>
                            <div class="nowrap">                                
                                <img gravatar-src-once="member.Email" gravatar-size="24" gravatar-default="mm" />
                                {{member.Email}}
                            </div>
                        </td>
                        <td style="text-align: right">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-link btn-sm"
                                        title="Remove member form organization"
                                        ng-hide="!viewModel.selfOwner()"
                                        ng-disabled="viewModel.isOwner(member.Id)"
                                        ng-click="viewModel.removeMember(member)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link btn-sm"
                                        title="Add member to organization"
                                        ng-hide="!viewModel.selfOwner()"
                                        ng-click="viewModel.addMember()">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    Add Member
                                </button>
                                <button type="button" class="btn btn-link btn-sm"
                                        title="Invite member to organization"
                                        ng-hide="!viewModel.selfOwner()"
                                        ng-click="viewModel.addInvite()">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    Invite Member
                                </button>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="bs-callout bs-callout-primary"
     ng-hide="$localStorage.hideMembersCallout && viewModel.members.length > 0">
    <button type="button" class="close" aria-label="Close"
            title="Hide help box"
            ng-click="$localStorage.hideMembersCallout = true">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="fa fa-info-circle fa-2x pull-left text-primary"></span>
    All members of an organization can edit a Project or Template assigned to that organization.
</div>
