<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="organizationName">Name:</label>
            <input type="text" class="form-control" id="organizationName" name="organizationName"
                   placeholder="Name"
                   required="required"
                   ng-disabled="!viewModel.selfOwner()"
                   ng-model="viewModel.organization.Name">
        </div>
        <div class="form-group">
            <label for="organizationDescription">Description:</label>
            <input type="text" class="form-control" id="organizationDescription" name="organizationDescription"
                   placeholder="Description"
                   ng-disabled="!viewModel.selfOwner()"
                   ng-model="viewModel.organization.Description">
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <button class="btn btn-primary"
                ng-click="viewModel.save()"
                ng-disabled="!viewModel.selfOwner()">
            Save
        </button>
        <button class="btn btn-default">Cancel</button>
    </div>
</div>
