@{
    ViewBag.Title = "Organizations";
}


<div class="container" ng-controller="organizationListController">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="active">Organizations</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-list"></i> Organizations

            <div class="btn-group pull-right ">
                <a class="btn btn-sm btn-primary" href="~/Organization/Create">Create</a>
            </div>
        </div>
        <div class="panel-body">
            @Html.Partial("_List")
        </div>
    </div>
</div>

