body {
    padding-top: 70px;
    padding-bottom: 20px;
}

footer, #footer {
    color: #999;
    text-align: center;
    line-height: normal;
    margin: 0 0 1em 0;
    font-size: .9em;
}

#section-main {
    min-height: 300px;
}





.carousel, .nav, .pagination, .panel-title a {
    cursor: pointer;
}


.tab-container .tab-content {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-top-width: 0;
    border-radius: 0 0 5px 5px;
}

.nav-tabs {
    border-color: #d5d5d5;
}

.nopadding {
    padding: 0 !important;
}

.panel-heading .table {
    margin: 0;
}

    .panel-heading .table > tbody > tr > th,
    .panel-heading .table > tbody > tr > td {
        border: 0 none;
    }

.panel-heading > .btn-group,
.panel-heading > .input-group,
 .panel-heading > .filter-group {
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: 10px;
}

.panel-heading > .fa,
.panel-icon {
    margin-right: 5px;
}


.table-hover tr td .btn-group-hover {
    display: none;
}

.table-hover tr:hover td .btn-group-hover {
    display: inline-block;
}

    .table-hover tr:hover td .btn-group-hover > .btn {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
    }

.table-toolbar {
    height: 50px;
}

.table-edit > tbody > tr > td {
    padding: 0;
    vertical-align: middle;
}

.table-edit .form-control {
    padding-right: 6px;
    padding-left: 6px;
    border-color: transparent;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

    .table-edit .form-control:focus {
        border-color: #66afe9;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
        outline: 0 none;
    }

    .table-edit .form-control-static {
        padding: 6px 12px;
    }

.table-property > tbody > tr > th {
    background-color: #f9f9f9;
    text-align: right;
}

.table > thead > tr > th > a,
.table > thead > tr > th > a:link,
.table > thead > tr > th > a:visited,
.table > thead > tr > th > a:hover {
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.section-control {
    background-color: transparent;
}

    .section-control:focus {
        background-color: #fff;
    }

/* prevent wrap */
.nowrap {
    -ms-text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    -moz-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

/* Hide Spinner */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select.no-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    -moz-text-overflow: '';
    text-overflow: '';

    padding-right: 12px !important;
    background-image: url('caret.png');
    background-repeat: no-repeat;
    background-position: right;
}

select::-ms-expand {
  width:12px;
  border:none;
  background:#fff;
  display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.sticky-heading {
    z-index: 1000;
}

.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.table-hover > tbody > tr > td.primary:hover,
.table-hover > tbody > tr > th.primary:hover,
.table-hover > tbody > tr.primary:hover > td,
.table-hover > tbody > tr:hover > .primary,
.table-hover > tbody > tr.primary:hover > th {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

@media print {
    body {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
