<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.0" targetFramework="net46" />
  <package id="KickStart" version="3.0.0.80" targetFramework="net451" />
  <package id="KickStart.Autofac" version="3.0.0.80" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net451" />
  <package id="MongoDB.Abstracts" version="1.0.0.5" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.2.4" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.2.4" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.2.4" targetFramework="net451" />
  <package id="NLog" version="4.3.7" targetFramework="net451" />
</packages>