@page "/administrative/users/{id}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = EstimatorX.Shared.Security.Roles.Administrators)]

<h3>User Edit</h3>

@code {
    [Parameter]
    public string Id { get; set; }

}
