<form id="passwordForm" name="passwordForm" role="form"
      ng-submit="viewModel.changePassword(passwordForm.$valid)"
      novalidate="novalidate">

    <div class="row">
        <div class="col-md-12">
            <p class="text-info"
               ng-hide="viewModel.user.PasswordHash">
                You do not have a local password for this site. Add a local
                password so you can log in without an external login.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- passwordForm.CurrentPassword -->
            <div class="form-group ng-hide"
                 ng-class="{ 'has-error' : passwordForm.CurrentPassword.$invalid && (passwordForm.CurrentPassword.$touched || passwordForm.$submitted) }"
                 ng-show="viewModel.user.PasswordHash">
                <label for="CurrentPassword" class="control-label">
                    Current Password
                    <span class="text-danger">*</span>
                </label>
                <input type="password" name="CurrentPassword" id="CurrentPassword"
                       placeholder="Current Password"
                       class="form-control"
                       ng-model="viewModel.password.OldPassword"
                       ng-required="viewModel.user.PasswordHash" />
                <div ng-messages="passwordForm.CurrentPassword.$error" ng-if="passwordForm.$submitted || passwordForm.CurrentPassword.$touched">
                    <span ng-message="required" class="help-block">Current Password is required</span>
                </div>
            </div>

            <!-- passwordForm.NewPassword -->
            <div class="form-group"
                 ng-class="{ 'has-error' : passwordForm.NewPassword.$invalid && (passwordForm.NewPassword.$touched || passwordForm.$submitted) }">
                <label for="NewPassword" class="control-label">
                    New Password
                    <span class="text-danger">*</span>
                </label>
                <input type="password" name="NewPassword" id="NewPassword"
                       placeholder="New Password"
                       class="form-control"
                       ng-model="viewModel.password.NewPassword"
                       required="required" />
                <div ng-messages="passwordForm.NewPassword.$error" ng-if="passwordForm.$submitted || passwordForm.NewPassword.$touched">
                    <span ng-message="required" class="help-block">New Password is required</span>
                </div>
            </div>

            <!-- passwordForm.ConfirmPassword -->
            <div class="form-group"
                 ng-class="{ 'has-error' : passwordForm.ConfirmPassword.$invalid && (passwordForm.ConfirmPassword.$touched || passwordForm.$submitted) }">
                <label for="ConfirmPassword" class="control-label">
                    Confirm Password
                    <span class="text-danger">*</span>
                </label>
                <input type="password" name="ConfirmPassword" id="ConfirmPassword"
                       placeholder="Confirm Password"
                       class="form-control"
                       ng-model="viewModel.password.ConfirmPassword"
                       required="required" />
                <div ng-messages="passwordForm.ConfirmPassword.$error" ng-if="passwordForm.$submitted || passwordForm.ConfirmPassword.$touched">
                    <span ng-message="required" class="help-block">Confirm Password is required</span>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary"
                    ng-disabled="passwordForm.$pristine">
                Save
            </button>
            <button type="button" class="btn btn-default"
                    ng-click="viewModel.resetPassword()">
                Cancel
            </button>
        </div>
    </div>
</form>
