@{
    ViewBag.Title = "Login Failure";
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <i class="fa fa-user"></i>
                    Login Failure
                </div>
                <div class="panel-body">
                    <h3 class="text-danger">Unsuccessful login with service.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
