@page "/organizations/create"

@using EstimatorX.Client.Pages.Organizations.Components

<PageTitle>Organization Create - EstimatorX</PageTitle>

<div class="container-xxl">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/organizations">Organizations</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Create
            </li>
        </ol>
    </nav>
    <EditForm EditContext="@EditContext" OnValidSubmit="@HandleSave">
        <FluentValidationValidator />

        <div class="card mb-5">
            <div class="card-header">
                <i class="fas fa-user mr-2" aria-hidden="true"></i> Organization Create
                <Conditional Show="@OrganizationStore.IsDirty">
                    *
                </Conditional>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <ValidationSummary />
                    </div>
                </div>

                <OrganizationForm />

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <BusyButton id="save-button"
                                    type="submit"
                                    Busy="OrganizationStore.IsBusy"
                                    Disabled="OrganizationStore.IsClean"
                                    class="btn btn-primary">
                            <BusyTemplate>
                                <span class='spinner-border spinner-border-sm'></span> Saving...
                            </BusyTemplate>
                            <ChildContent>
                                Save
                            </ChildContent>
                        </BusyButton>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </EditForm>

</div>
