@page "/organizations/{id}"
@inherits OrganizationBase

@using EstimatorX.Client.Pages.Organizations.Components


<OrganizationContainer Id="@Id">
    <div class="p-3">
        <OrganizationForm />
    </div>
</OrganizationContainer>

