@page "/organizations/{id}"

@using EstimatorX.Client.Components.Organizations
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/organizations">Organizations</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Edit
            </li>
        </ol>
    </nav>

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-user mr-2"
               aria-hidden="true"></i> Organization Edit
            <OrganizationTabs Id="@Id" />
        </div>
        <div class="card-body">
            <OrganizationForm Id="@Id" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
}
