<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <mailSettings>
      <smtp>
        <network host="#{smtp:host}"
                 port="#{smtp:port}"
                 userName="#{smtp:userName}"
                 password="#{smtp:password}"
                 xdt:Transform="Replace" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <machineKey decryption="AES" validation="SHA1"
                decryptionKey="#{machineKey:decryptionKey}"
                validationKey="#{machineKey:validationKey}"
                xdt:Transform="Replace" />
  </system.web>
</configuration>
