@{
    ViewBag.Title = "Edit Factor Template";
}


<div class="container" ng-controller="templateEditController" ng-init="viewModel.load('@Model')">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("Index")">Templates</a></li>
        <li class="active">Edit</li>
    </ol>
    <form id="templateForm" name="templateForm" role="form"
          ng-submit="viewModel.save(templateForm.$valid)"
          novalidate="novalidate">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="nowrap">
                    <i class="fa fa-share-alt"></i> Factor Template
                    <span ng-show="viewModel.template.Name">- <strong>{{ viewModel.template.Name}}</strong></span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <!-- templateForm.TemplateName -->
                        <div class="form-group"
                             ng-class="{ 'has-error' : templateForm.TemplateName.$invalid && (templateForm.TemplateName.$touched || templateForm.$submitted) }">
                            <label for="TemplateName" class="control-label">
                                Name:
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" name="TemplateName" id="TemplateName"
                                   autocomplete="off"
                                   placeholder="Name"
                                   class="form-control"
                                   required="required"
                                   ng-model="viewModel.template.Name" />
                            <div ng-messages="templateForm.TemplateName.$error"
                                 ng-if="templateForm.$submitted || templateForm.TemplateName.$touched">
                                <span ng-message="required" class="help-block">Name is required</span>
                            </div>
                        </div>
                        <!-- templateForm.OrganizationId -->
                        <div class="form-group"
                             ng-class="{ 'has-error' : templateForm.OrganizationId.$invalid && (templateForm.OrganizationId.$touched || templateForm.$submitted) }">
                            <label for="OrganizationId" class="control-label">
                                Organization:
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-control no-style"
                                    name="OrganizationId"
                                    title="Select Organization"
                                    required="required"
                                    ng-model="viewModel.template.OrganizationId"
                                    ng-options="item.Id as item.Name for item in viewModel.organizations">
                                <option value="">-- select --</option>
                            </select>
                            <div ng-messages="templateForm.OrganizationId.$error"
                                 ng-if="templateForm.$submitted || templateForm.OrganizationId.$touched">
                                <span ng-message="required" class="help-block">Organization is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- templateForm.TemplateDescription -->
                        <div class="form-group"
                             ng-class="{ 'has-error' : templateForm.TemplateDescription.$invalid && (templateForm.TemplateDescription.$touched || templateForm.$submitted) }">
                            <label for="TemplateDescription" class="control-label">
                                Description:
                            </label>
                            <textarea id="TemplateDescription" name="TemplateDescription" rows="5"
                                      class="form-control"
                                      placeholder="Description"
                                      ng-model="viewModel.template.Description"></textarea>
                            <div ng-messages="templateForm.TemplateDescription.$error"
                                 ng-if="templateForm.$submitted || templateForm.TemplateDescription.$touched">
                                <span ng-message="required" class="help-block">Description is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-edit table-bordered" style="table-layout: fixed">
                                <colgroup>
                                    <col style="width: 200px" />
                                    <col style="width: 90px" />
                                    <col style="width: 90px" />
                                    <col style="width: 90px" />
                                    <col style="width: 90px" />
                                    <col style="width: 90px" />
                                    <col style="width: 30px" />
                                </colgroup>
                                <thead>
                                    <tr class="info">
                                        <th>Name</th>
                                        <th>
                                            <span class="hidden-xs">Very Simple</span>
                                            <span class="visible-xs-block">V.Simp</span>
                                        </th>
                                        <th>Simple</th>
                                        <th>Medium</th>
                                        <th>Complex</th>
                                        <th>
                                            <span class="hidden-xs">Very Complex</span>
                                            <span class="visible-xs-block">V.Comp</span>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="factor in viewModel.template.Factors">
                                        <td><input type="text" class="form-control" ng-model="factor.Name" placeholder="Factor Name" autocomplete="off" /></td>
                                        <td><input type="number" class="form-control" ng-model="factor.VerySimple" autocomplete="off" /></td>
                                        <td><input type="number" class="form-control" ng-model="factor.Simple" autocomplete="off" /></td>
                                        <td><input type="number" class="form-control" ng-model="factor.Medium" autocomplete="off" /></td>
                                        <td><input type="number" class="form-control" ng-model="factor.Complex" autocomplete="off" /></td>
                                        <td><input type="number" class="form-control" ng-model="factor.VeryComplex" autocomplete="off" /></td>
                                        <td class="active">
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-link btn-sm" ng-click="viewModel.removeFactor(factor)">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="7">
                                            <div class="btn-group">
                                                <a class="btn btn-link btn-sm" ng-click="viewModel.addFactor()">
                                                    <i class="glyphicon glyphicon-plus"></i> Add Factor
                                                </a>
                                            </div>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-primary"
                                ng-disabled="!templateForm.$dirty">
                            Save
                        </button>
                        <button type="button" class="btn btn-default"
                                ng-click="viewModel.undo()"
                                ng-disabled="!templateForm.$dirty">
                            Undo
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger" ng-click="viewModel.delete()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

