@page "/projects/create"

@using Blazored.FluentValidation
@using EstimatorX.Client.Components.Projects


<div class="container-lg">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/projects">Projects</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Create
            </li>
        </ol>
    </nav>
    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-user mr-2"
               aria-hidden="true"></i> Project Create
        </div>
        <div class="card-body">
            <EditForm Model="@Project" OnValidSubmit="@HandleSave">
                <FluentValidationValidator />

                <div class="row">
                    <div class="col">
                        <ValidationSummary />
                    </div>
                </div>

                <ProjectForm />

                <div class="row">
                    <div class="col">
                        <BusyButton id="save-button"
                                    type="submit"
                                    Busy="ProjectStore.IsBusy"
                                    class="btn btn-primary">
                            <BusyTemplate>
                                <span class='spinner-border spinner-border-sm'></span> Saving...
                            </BusyTemplate>
                            <ChildContent>
                                Save
                            </ChildContent>
                        </BusyButton>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </EditForm>

        </div>
    </div>
</div>

