@page "/projects/{id}/{organizationId}"
@inherits ProjectBase

@using EstimatorX.Client.Components.Projects

<ProjectContainer Id="@Id" OrganizationId="@OrganizationId">
    <div class="p-3">
        <ProjectForm />
    </div>
</ProjectContainer>
