@page "/projects/{id}/{organizationId}/estimation"
@inherits ProjectBase

@using EstimatorX.Client.Pages.Projects.Components

<ProjectContainer Id="@Id" OrganizationId="@OrganizationId">
    <h2>Estimation</h2>
</ProjectContainer>
