@page "/projects/{id}/{organizationId}/settings"
@inherits ProjectBase

@using EstimatorX.Client.Components.Projects

<ProjectContainer Id="@Id" OrganizationId="@OrganizationId">
    <h2>Settings</h2>
</ProjectContainer>
