@page "/projects/{id}/{organizationId}/summary"
@using EstimatorX.Client.Pages.Projects.Components
@inherits ProjectBase


<ProjectContainer Id="@Id" OrganizationId="@OrganizationId">
    <h2>Summary</h2>
</ProjectContainer>
