@page "/projects/{id}/{organizationId}/summary"
@inherits ProjectBase

@using EstimatorX.Client.Components.Projects

<ProjectContainer Id="@Id" OrganizationId="@OrganizationId">
    <h2>Summary</h2>
</ProjectContainer>
