<script type="text/ng-template" id="templateModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewModel.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="templateModalLabel">Add Factor Template</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="factorTemplate" class="control-label">Template:</label>
            <select name="factorTemplate"
                    class="form-control no-style"
                    ng-model="viewModel.selected"
                    ng-options="item.Name for item in viewModel.items">
                <option value="">-- select --</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="viewModel.select()">Add</button>
        <button type="button" class="btn btn-default" ng-click="viewModel.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="nameReorderModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewModel.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="templateModalLabel">Reorder {{viewModel.name}}</h4>
    </div>
    <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
        <ul class="list-group" ui-sortable ng-model="viewModel.items">
            <li class="list-group-item" ng-repeat="item in viewModel.items" style="cursor: move;">
                <i class="fa fa-th"></i>
                {{ item.Name }}
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <p class="text-muted pull-left">Click & drag to reorder</p>
        <button type="button" class="btn btn-primary" ng-click="viewModel.select()">Save</button>
        <button type="button" class="btn btn-default" ng-click="viewModel.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="textReorderModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewModel.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="templateModalLabel">Reorder {{viewModel.name}}</h4>
    </div>
    <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
        <ul class="list-group" ui-sortable ng-model="viewModel.items">
            <li class="list-group-item" ng-repeat="item in viewModel.items" style="cursor: move;">
                <i class="fa fa-th"></i>
                {{ item }}
            </li>
        </ul>        
    </div>
    <div class="modal-footer">
        <p class="text-muted pull-left">Click & drag to reorder</p>
        <button type="button" class="btn btn-primary" ng-click="viewModel.select()">Save</button>
        <button type="button" class="btn btn-default" ng-click="viewModel.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="memberModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewModel.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add User</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="UserId" class="control-label">User Name:</label>

            <ui-select name="UserId"
                       theme="select2"
                       class="form-control"
                       ng-model="viewModel.userId">
                <ui-select-match placeholder="Select User ...">
                    {{$select.selected.Name}}
                </ui-select-match>
                <ui-select-choices repeat="item.Id as item in viewModel.users track by item.Id"
                                   refresh="viewModel.searchUsers($select.search)"
                                   refresh-delay="500">
                    <div ng-bind-html="item.Name | highlight: $select.search"></div>
                    <div ng-show="item.Email">{{item.Email}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="viewModel.select()">Add</button>
        <button type="button" class="btn btn-default" ng-click="viewModel.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="inviteModal.html">
    <form name="inviteForm" role="form"
          ng-submit="viewModel.send(inviteForm.$valid)"
          novalidate="novalidate">

        <div class="modal-header">
            <button type="button" class="close" ng-click="viewModel.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Invite User</h4>
        </div>
        <div class="modal-body">
            <div class="form-group"
                 ng-class="{ 'has-error' : inviteForm.InviteEmail.$invalid && (inviteForm.InviteEmail.$touched || inviteForm.$submitted) }">
                <label for="InviteEmail" class="control-label">Email:</label>
                <input type="email" name="InviteEmail" id="InviteEmail"
                       placeholder="Email"
                       class="form-control"
                       required="required"
                       ng-model="viewModel.inviteEmail" />
                <div ng-messages="inviteForm.InviteEmail.$error"
                     ng-if="inviteForm.$submitted || inviteForm.InviteEmail.$touched">
                    <span ng-message="required" class="help-block">Email is required</span>
                    <span ng-message="email" class="help-block">Invalid email address</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Send</button>
            <button type="button" class="btn btn-default" ng-click="viewModel.cancel()">Cancel</button>
        </div>
    </form>
</script>