@{
    Layout = "_Root";
}

@section Head {
    @RenderSection("Head", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}

<partial name="_Navigation" />

<main role="main">
    @RenderBody()
</main>

<partial name="_Footer" />