<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] ?? "EstimatorX")</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" asp-append-version="true" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" asp-append-version="true" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" asp-append-version="true" />
    <link rel="manifest" href="/site.webmanifest" asp-append-version="true" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" asp-append-version="true" />

    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@5.15.3/css/all.min.css"
          integrity="sha256-2H3fkXt6FEmrReK448mDVGKb3WW2ZZw35gI7vqHOE4Y="
          crossorigin="anonymous">

    <link rel="stylesheet" href="/_content/LoreSoft.Blazor.Controls/BlazorControls.css" asp-append-version="true" />

    <environment include="Development">
        <link rel="stylesheet" href="~/bundle.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/bundle.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Head", required: false)
</head>
<body>
    @RenderBody()

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
