@page
@model EstimatorX.Service.Pages.Account.Manage.PasswordModel
@{
    ViewData["Title"] = "Password";
    ViewData["UserTab"] = "Password";

    Layout = "_UserLayout";
}

<form id="update-password-form"
      name="update-password-form"
      role="form"
      method="post">

    <div class="row">
        <div class="col">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label" asp-for="Input.CurrentPassword">Current Password <required /></label>
                <input asp-for="Input.CurrentPassword"
                       type="password"
                       class="form-control"
                       placeholder="Current Password">
                <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Input.NewPassword">New Password <required /></label>
                <input asp-for="Input.NewPassword"
                       type="password"
                       class="form-control"
                       placeholder="New Password">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Input.ConfirmPassword">Confirm Password <required /></label>
                <input asp-for="Input.ConfirmPassword"
                       type="password"
                       class="form-control"
                       placeholder="Confirm Password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="update-password-button"
                    type="submit"
                    class="btn btn-primary"
                    data-loading-text="<span class='spinner-border spinner-border-sm'></span> Saving...">
                Update
            </button>
        </div>
    </div>

</form>