<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="FluentAssertions" version="4.5.0" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.9" targetFramework="net451" />
  <package id="KickStart" version="2.5.0.64" targetFramework="net451" />
  <package id="KickStart.Autofac" version="2.5.0.64" targetFramework="net451" />
  <package id="KickStart.NLog" version="2.5.0.64" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="NLog" version="4.3.3" targetFramework="net451" />
  <package id="System.Linq.Dynamic" version="1.0.6" targetFramework="net451" />
  <package id="xunit" version="2.1.0" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net451" />
  <package id="xunit.core" version="2.1.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net451" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net451" />
</packages>