<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.5" targetFramework="net451" />
  <package id="KickStart" version="2.0.0.39" targetFramework="net451" />
  <package id="KickStart.Autofac" version="2.0.0.39" targetFramework="net451" />
  <package id="KickStart.NLog" version="2.0.0.39" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="System.Linq.Dynamic" version="1.0.4" targetFramework="net45" />
  <package id="xunit" version="2.0.0" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net451" />
  <package id="xunit.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net451" />
</packages>