@page

@{
    Layout = "_Root";
}

@section Head {
<base href="/" />
<link href="css/app.css" rel="stylesheet" />
}

@section Scripts {
<script src="_framework/blazor.webassembly.js"></script>
}

<partial name="_Navigation" />

<app>
    <div class="d-flex justify-content-center mb-3">
        <span class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></span>
    </div>
    <h3 class="d-flex justify-content-center">
        Loading ...
    </h3>
</app>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<partial name="_Footer" />