@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div id="error-page">
    <div class="error-page">
        <div class="error-page-500">
            <h3>Oops! An error occurred</h3>
            <h1><span>5</span><span>0</span><span>0</span></h1>
        </div>
        <h2>An error occurred processing your request</h2>
    </div>
</div>