<table class="table table-edit table-bordered">
    <colgroup>
        <col style="" />
        <col style="width: 30px" />
    </colgroup>
    <thead>
        <tr class="info">
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="assumption in viewModel.project.Assumptions track by $index">
            <td><input type="text" class="form-control" ng-model="viewModel.project.Assumptions[$index]" placeholder="Enter Assumption" autocomplete="off" /></td>
            <td class="active">
                <div class="btn-group pull-right">
                    <a class="btn btn-link btn-sm" ng-click="viewModel.removeAssumption($index)" title="Delete this assumption">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="7">
                <div class="btn-group">
                    <a class="btn btn-link btn-sm" ng-click="viewModel.addAssumption()">
                        <i class="glyphicon glyphicon-plus"></i> Add Assumption
                    </a>
                    <a class="btn btn-link btn-sm" ng-click="viewModel.reorderAssumptions()" ng-show="viewModel.project.Assumptions.length > 1">
                        <i class="fa fa-unsorted"></i> Reorder Assumptions
                    </a>
                </div>
            </th>
        </tr>
    </tfoot>
</table>

<p class="bs-callout bs-callout-primary"
   ng-hide="viewModel.$storage.hideAssumptionCallout">
    <button type="button" class="close" aria-label="Close"
            ng-click="viewModel.$storage.hideAssumptionCallout = true">
        <span aria-hidden="true">&times;</span>
    </button>
    Enter assumptions made when creating this estimate. Documenting assumptions help raise the red flag in the future when an assumptions proves not to be true.
</p>
