<table class="table table-edit">
    <colgroup>
        <col style="" />
        <col style="width: 80px" />
    </colgroup>
    <thead>
        <tr class="info">
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="assumption in viewModel.project.Assumptions track by $index">
            <td><input type="text" class="form-control" ng-model="viewModel.project.Assumptions[$index]" /></td>
            <td>
                <div class="btn-group pull-right">
                    <a class="btn btn-link btn-sm" ng-click="viewModel.removeAssumption($index)"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="7">
                <div class="btn-group">
                    <a class="btn btn-link btn-sm" ng-click="viewModel.addAssumption()"><i class="glyphicon glyphicon-plus"></i> Add Assumption</a>
                </div>
            </th>
        </tr>
    </tfoot>
</table>
