<div class="table-responsive">
    <table class="table table-edit table-bordered" style="table-layout: fixed">
        <colgroup>
            <col style="width: 200px" />
            <col style="width: 90px" />
            <col style="width: 90px" />
            <col style="width: 90px" />
            <col style="width: 90px" />
            <col style="width: 90px" />
            <col style="width: 30px" />
        </colgroup>
        <thead>
            <tr class="info">
                <th>Name</th>
                <th>
                    <span class="hidden-xs">Very Simple</span>
                    <span class="visible-xs-block">V.Simp</span>
                </th>
                <th>Simple</th>
                <th>Medium</th>
                <th>Complex</th>
                <th>
                    <span class="hidden-xs">Very Complex</span>
                    <span class="visible-xs-block">V.Comp</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="factor in viewModel.project.Factors">
                <td><input type="text" class="form-control" ng-model="factor.Name" autocomplete="off" /></td>
                <td><input type="number" class="form-control" ng-model="factor.VerySimple" autocomplete="off" /></td>
                <td><input type="number" class="form-control" ng-model="factor.Simple" autocomplete="off" /></td>
                <td><input type="number" class="form-control" ng-model="factor.Medium" autocomplete="off" /></td>
                <td><input type="number" class="form-control" ng-model="factor.Complex" autocomplete="off" /></td>
                <td><input type="number" class="form-control" ng-model="factor.VeryComplex" autocomplete="off" /></td>
                <td class="active">
                    <div class="btn-group pull-right">
                        <a class="btn btn-link btn-sm" ng-click="viewModel.removeFactor(factor)" title="Delete this factor">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="7">
                    <div class="btn-group">
                        <a class="btn btn-link btn-sm" ng-click="viewModel.addFactor()">
                            <i class="glyphicon glyphicon-plus"></i> Add Factor
                        </a>
                        <a class="btn btn-link btn-sm" ng-click="viewModel.addTemplate()">
                            <i class="glyphicon glyphicon-plus"></i> Add Template
                        </a>
                        <a class="btn btn-link btn-sm" ng-click="viewModel.reorderFactors()" ng-show="viewModel.project.Factors.length > 1">
                            <i class="fa fa-unsorted"></i> Reorder Factors
                        </a>
                    </div>

                </th>
            </tr>
        </tfoot>
    </table>
</div>

