
<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed" style="table-layout: fixed">
        <colgroup>
            <col style="width: 200px" />
            <col style="width: 75px" />
            <col style="width: 75px" />
            <col style="width: 65px" />
            <col style="width: 65px" />
            <col style="width: 70px" />
            <col style="width: 75px" />
            <col style="width: 75px" />
            <col style="width: 90px" />
        </colgroup>
        <thead>
            <tr>
                <th>
                    <a ng-click="viewModel.sortClick('Name')"
                       style="display: block;">
                        Name
                        <span class="ng-hide dropdown"
                              ng-show="viewModel.result.Sort == 'Name'"
                              ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                            <span class="caret" style="margin: 5px 5px;"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="viewModel.sortClick('HoursPerWeek')"
                       style="display: block;">
                        Hours Per<br /> Week
                        <span class="ng-hide dropdown"
                              ng-show="viewModel.result.Sort == 'HoursPerWeek'"
                              ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                            <span class="caret" style="margin: 5px 5px;"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="viewModel.sortClick('ContingencyRate')"
                       style="display: block;">
                        CONTGY<br />Rate
                        <span class="ng-hide dropdown"
                              ng-show="viewModel.result.Sort == 'ContingencyRate'"
                              ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                            <span class="caret" style="margin: 5px 5px;"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="viewModel.sortClick('TotalTasks')"
                       style="display: block;">
                        Total<br /> Tasks
                        <span class="ng-hide dropdown"
                              ng-show="viewModel.result.Sort == 'TotalTasks'"
                              ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                            <span class="caret" style="margin: 5px 5px;"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="viewModel.sortClick('TotalHours')"
                       style="display: block;">
                        Total<br /> Hours
                        <span class="ng-hide dropdown"
                              ng-show="viewModel.result.Sort == 'TotalHours'"
                              ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                            <span class="caret" style="margin: 5px 5px;"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="viewModel.sortClick('TotalWeeks')"
                       style="display: block;">
                        Total<br /> Weeks
                        <span class="ng-hide dropdown"
                              ng-show="viewModel.result.Sort == 'TotalWeeks'"
                              ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                            <span class="caret" style="margin: 5px 5px;"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="viewModel.sortClick('ContingencyHours')"
                       style="display: block;">
                        CONTGY<br />Hours
                        <span class="ng-hide dropdown"
                              ng-show="viewModel.result.Sort == 'ContingencyHours'"
                              ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                            <span class="caret" style="margin: 5px 5px;"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="viewModel.sortClick('ContingencyWeeks')"
                       style="display: block;">
                        CONTGY<br />Weeks
                        <span class="ng-hide dropdown"
                              ng-show="viewModel.result.Sort == 'ContingencyWeeks'"
                              ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                            <span class="caret" style="margin: 5px 5px;"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a ng-click="viewModel.sortClick('Updated')"
                       style="display: block;">
                        Updated
                        <span class="ng-hide dropdown"
                              ng-show="viewModel.result.Sort == 'Updated'"
                              ng-class="{true:'dropdown', false:'dropup'}[viewModel.result.Descending]">
                            <span class="caret" style="margin: 5px 5px;"></span>
                        </span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in viewModel.result.Data">
                <td>
                    <a class="nowrap" style="display: block" href="Project/Edit/{{project.Id}}" title="{{project.Name}}">{{project.Name}}</a>
                </td>
                <td>{{project.HoursPerWeek}}</td>
                <td>{{project.ContingencyRate}}%</td>
                <td>{{project.TotalTasks}}</td>
                <td>{{project.TotalHours}}</td>
                <td>{{project.TotalWeeks | number:2}}</td>
                <td>{{project.ContingencyHours}}</td>
                <td>{{project.ContingencyWeeks | number:2}}</td>
                <td>
                    <abbr title="{{project.Updated | date:'fullDate'}}">
                        <span>{{project.Updated | date:'MM/dd/yyyy'}}</span>
                    </abbr>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination ng-model="viewModel.result.Page"
            total-items="viewModel.result.Total"
            items-per-page="viewModel.result.PageSize"
            max-size="10"
            class="pagination"
            boundary-links="true"
            rotate="false"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
            ng-change="viewModel.load()">
</pagination>

<div class="btn-group pull-right" style="margin-top: 20px">
    <a id="project-create-link"
       class="btn btn-primary"
       title="Create New Project"
       href="~/Project/Create">
        Create
    </a>
</div>