<h2>{{viewModel.project.Name}}</h2>
<p>{{viewModel.project.Description}}</p>

<h4>Assumptions</h4>
<ul>
    <li ng-repeat="assumption in viewModel.project.Assumptions">
        {{assumption}}
    </li>
</ul>

<h4>Factors</h4>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed" style="table-layout: fixed">
        <colgroup>
            <col style="width: 200px" />
            <col style="width: 85px" />
            <col style="width: 85px" />
            <col style="width: 85px" />
            <col style="width: 85px" />
            <col style="width: 85px" />
        </colgroup>
        <thead>
            <tr class="info">
                <th>Name</th>
                <th>
                    <span class="hidden-xs">Very Simple</span>
                    <span class="visible-xs-block">V.Simp</span>
                </th>
                <th>
                    <span class="hidden-xs">Simple</span>
                    <span class="visible-xs-block">Simp</span>
                </th>
                <th>
                    <span class="hidden-xs">Medium</span>
                    <span class="visible-xs-block">Med</span>

                </th>
                <th>
                    <span class="hidden-xs">Complex</span>
                    <span class="visible-xs-block">Comp</span>
                </th>
                <th>
                    <span class="hidden-xs">Very Complex</span>
                    <span class="visible-xs-block">V.Comp</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="factor in viewModel.project.Factors">
                <td>
                    <span class="hidden-xs">{{factor.Name}}</span>
                    <span class="visible-xs-block nowrap">{{factor.Name}}</span>
                </td>
                <td>{{factor.VerySimple}}</td>
                <td>{{factor.Simple}}</td>
                <td>{{factor.Medium}}</td>
                <td>{{factor.Complex}}</td>
                <td>{{factor.VeryComplex}}</td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>

<h4>Tasks</h4>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed" style="table-layout: fixed">
        <colgroup>
            <col style="width: 200px" />
            <col style="width: 150px" />
            <col style="width: 75px" />
            <col style="width: 75px" />
            <col style="width: 75px" />
            <col style="width: 75px" />
            <col style="width: 75px" />
            <col style="width: 75px" />
            <col style="width: 75px" />
        </colgroup>
        <thead>
            <tr class="info">
                <th>Name</th>
                <th>Factor</th>
                <th>
                    <span class="hidden-xs">Very Simple</span>
                    <span class="visible-xs-block">V.Simp</span>
                </th>
                <th>
                    <span class="hidden-xs">Simple</span>
                    <span class="visible-xs-block">Simp</span>
                </th>
                <th>
                    <span class="hidden-xs">Medium</span>
                    <span class="visible-xs-block">Med</span>

                </th>
                <th>
                    <span class="hidden-xs">Complex</span>
                    <span class="visible-xs-block">Comp</span>
                </th>
                <th>
                    <span class="hidden-xs">Very Complex</span>
                    <span class="visible-xs-block">V.Comp</span>
                </th>
                <th>
                    <span class="hidden-xs">Total Tasks</span>
                    <span class="visible-xs-block">Tasks</span>
                </th>
                <th>
                    <span class="hidden-xs">Total Hours</span>
                    <span class="visible-xs-block">Hours</span>
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="section in viewModel.project.Sections">
            <tr class="warning">
                <td colspan="7">
                    <span class="hidden-xs">{{section.Name}}</span>
                    <span class="visible-xs-block nowrap">{{section.Name}}</span>
                </td>
                <td>{{section.TotalTasks}}</td>
                <td>{{section.TotalHours}}</td>
            </tr>
            <tr ng-repeat="task in section.Tasks">
                <td>
                    <span class="hidden-xs">{{task.Name}}</span>
                    <span class="visible-xs-block nowrap">{{task.Name}}</span>
                </td>
                <td>
                    <span class="hidden-xs">{{viewModel.lookupFactor(task.FactorId)}}</span>
                    <span class="visible-xs-block nowrap">{{viewModel.lookupFactor(task.FactorId)}}</span>
                </td>
                <td>{{task.VerySimple}}</td>
                <td>{{task.Simple}}</td>
                <td>{{task.Medium}}</td>
                <td>{{task.Complex}}</td>
                <td>{{task.VeryComplex}}</td>
                <td class="active">{{task.TotalTasks}}</td>
                <td class="active">{{task.TotalHours}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="page-break"></div>

<h4>Summary</h4>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-property">
            <colgroup>
                <col style="width: 160px;" />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <th>Total Tasks:</th>
                    <td>{{viewModel.project.TotalTasks}}</td>
                </tr>

                <tr>
                    <th>Total Hours:</th>
                    <td>{{viewModel.project.TotalHours}}</td>
                </tr>
                <tr>
                    <th>
                        Contingency Hours:
                    </th>
                    <td>
                        <abbr title="Contingency of {{viewModel.project.ContingencyRate }}%">
                            {{viewModel.project.ContingencyHours}}
                        </abbr>
                    </td>
                </tr>

                <tr>
                    <th>
                        Total Weeks:
                    </th>
                    <td>
                        <abbr title="Using {{viewModel.project.HoursPerWeek}} hrs per week">
                            {{viewModel.project.TotalWeeks | number:2}}
                        </abbr>
                    </td>
                </tr>
                <tr>
                    <th>
                        Contingency Weeks:
                    </th>
                    <td>
                        <abbr title="Contingency of {{viewModel.project.ContingencyRate }}%">
                            {{viewModel.project.ContingencyWeeks | number:2}}
                        </abbr>

                    </td>
                </tr>
                <tr>
                    <th>Hours Per Week:</th>
                    <td>{{viewModel.project.HoursPerWeek}}</td>
                </tr>

                <tr>
                    <th>Contingency Rate:</th>
                    <td>{{viewModel.project.ContingencyRate}}%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered table-property">
            <colgroup>
                <col style="width: 160px;" />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <th>Created:</th>
                    <td>
                        <abbr title="{{viewModel.project.Created | date:'fullDate'}}">
                            <span am-time-ago="viewModel.project.Created"></span>
                        </abbr>
                    </td>
                </tr>
                <tr>
                    <th>Creator:</th>
                    <td>{{viewModel.project.Creator}}</td>
                </tr>
                <tr>
                    <th>Updated:</th>
                    <td>
                        <abbr title="{{viewModel.project.Updated | date:'fullDate'}}">
                            <span am-time-ago="viewModel.project.Updated"></span>
                        </abbr>
                    </td>
                </tr>
                <tr>
                    <th>Updater:</th>
                    <td>{{viewModel.project.Updater}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
