<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-property">
            <colgroup>
                <col style="width: 160px;" />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <th>Total Tasks:</th>
                    <td>
                        <span id="summary-project-totalTasks-value">{{viewModel.project.TotalTasks}}</span>
                    </td>
                </tr>

                <tr>
                    <th>Total Hours:</th>
                    <td>
                        <span id="summary-project-totalHours-value">{{viewModel.project.TotalHours}}</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        Contingency Hours:
                    </th>
                    <td>
                        <span id="summary-project-contingencyHours-value">{{viewModel.project.ContingencyHours}}</span>
                        <small class="text-muted" style="margin-left: 5px">({{viewModel.project.ContingencyRate }}% Contingency)</small>
                    </td>
                </tr>

                <tr>
                    <th>
                        Total Weeks:
                    </th>
                    <td>
                        <span id="summary-project-totalWeeks-value">{{viewModel.project.TotalWeeks | number:2}}</span>
                        <small class="text-muted" style="margin-left: 5px">({{viewModel.project.HoursPerWeek}} hrs per week)</small>
                    </td>
                </tr>
                <tr>
                    <th>
                        Contingency Weeks:
                    </th>
                    <td>
                        <span id="summary-project-contingencyWeeks-value">{{viewModel.project.ContingencyWeeks | number:2}}</span>
                        <small class="text-muted" style="margin-left: 5px">({{viewModel.project.ContingencyRate }}% Contingency)</small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered table-property">
            <colgroup>
                <col style="width: 160px;" />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <th>Created:</th>
                    <td>
                        <abbr title="{{viewModel.project.Created | date:'fullDate'}}">
                            <span am-time-ago="viewModel.project.Created"></span>
                        </abbr>
                    </td>
                </tr>
                <tr>
                    <th>Creator:</th>
                    <td>
                        <div class="nowrap">
                            <img gravatar-src-once="viewModel.project.Creator" gravatar-size="24" gravatar-default="mm" />
                            <span id="summary-project-creator-value">{{viewModel.project.Creator}}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Updated:</th>
                    <td>
                        <abbr title="{{viewModel.project.Updated | date:'fullDate'}}">
                            <span am-time-ago="viewModel.project.Updated"></span>
                        </abbr>
                    </td>
                </tr>
                <tr>
                    <th>Updater:</th>
                    <td>
                        <div class="nowrap">
                            <img gravatar-src-once="viewModel.project.Updater" gravatar-size="24" gravatar-default="mm" />
                            <span id="summary-project-updater-value">{{viewModel.project.Updater}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
