<div class="table-responsive" ng-repeat="section in viewModel.project.Sections">
    <table class="table table-edit table-bordered" style="table-layout: fixed">
        <colgroup>
            <col style="width: 200px" />
            <col style="width: 180px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 30px" />
        </colgroup>
        <thead>
            <tr class="info">
                <th>Name</th>
                <th>Factor</th>
                <th>
                    <span class="hidden-xs">Very Simple</span>
                    <span class="visible-xs-block">V.Simp</span>
                </th>
                <th>
                    <span>Simple</span>
                </th>
                <th>
                    <span>Medium</span>
                </th>
                <th>
                    <span>Complex</span>
                </th>
                <th>
                    <span class="hidden-xs">Very Complex</span>
                    <span class="visible-xs-block">V.Comp</span>
                </th>
                <th>
                    <span class="hidden-xs">Total Tasks</span>
                    <span class="visible-xs-block">Tasks</span>
                </th>
                <th>
                    <span class="hidden-xs">Total Hours</span>
                    <span class="visible-xs-block">Hours</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="warning">
                <td colspan="7">
                    <input type="text"
                           class="form-control section-control"
                           ng-model="section.Name"
                           title="Enter name for this section"
                           autocomplete="off" />
                </td>
                <td>
                    <p class="form-control-static"
                       title="The total tasks for this section">{{section.TotalTasks}}</p>
                </td>
                <td>
                    <p class="form-control-static"
                       title="The total hours for this section">{{section.TotalHours}}</p>
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <a class="btn btn-link btn-sm" ng-click="viewModel.removeSection(section)">
                            <i class="glyphicon glyphicon-remove" title="Delete this Section"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="task in section.Tasks">
                <td>
                    <input type="text"
                           class="form-control"
                           title="Enter name for this task"
                           ng-model="task.Name"
                           autocomplete="off" />
                </td>
                <td>
                    <select class="form-control no-style"
                            title="Select the factor you use for this task"
                            ng-model="task.FactorId"
                            ng-options="factor.Id as factor.Name for factor in viewModel.project.Factors">
                        <option value="">-- select --</option>
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control"
                           autocomplete="off"
                           ng-model="task.VerySimple"
                           title="Enter number of very simple tasks" />
                </td>
                <td>
                    <input type="number" class="form-control"
                           autocomplete="off"
                           ng-model="task.Simple"
                           title="Enter number of simple tasks" />
                </td>
                <td>
                    <input type="number" class="form-control"
                           autocomplete="off"
                           ng-model="task.Medium"
                           title="Enter number of medium tasks" />
                </td>
                <td>
                    <input type="number" class="form-control"
                           autocomplete="off"
                           ng-model="task.Complex"
                           title="Enter number of complex tasks" />
                </td>
                <td>
                    <input type="number" class="form-control"
                           autocomplete="off"
                           ng-model="task.VeryComplex"
                           title="Enter number of very complex tasks" />
                </td>
                <td class="active">
                    <p class="form-control-static"
                       title="The total number of tasks">{{task.TotalTasks}}</p>
                </td>
                <td class="active">
                    <p class="form-control-static"
                       title="The factor hours multiplied by the task count per difficulty">{{task.TotalHours}}</p>
                </td>
                <td class="active">
                    <div class="btn-group pull-right">
                        <a class="btn btn-link btn-sm"
                           ng-click="viewModel.removeTask(section, task)"
                           title="Delete this Task">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                    <div class="btn-group">
                        <a class="btn btn-link btn-sm"
                           ng-click="viewModel.addTask(section)">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add Task
                        </a>
                        <a class="btn btn-link btn-sm"
                           ng-click="viewModel.addSection()">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add Section
                        </a>
                        <a class="btn btn-link btn-sm"
                           ng-click="viewModel.reorderTasks(section)"
                           ng-show="section.Tasks.length > 1">
                            <i class="fa fa-unsorted"></i>
                            Reorder Tasks
                        </a>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="btn-group">
    <a class="btn btn-link btn-sm"
       ng-click="viewModel.addSection()">
        <i class="glyphicon glyphicon-plus"></i>
        Add Section
    </a>
    <a class="btn btn-link btn-sm"
       ng-click="viewModel.reorderSections()"
       ng-show="viewModel.project.Sections.length > 1">
        <i class="fa fa-unsorted"></i> Reorder Section
    </a>
</div>

<p class="bs-callout bs-callout-primary"
   ng-hide="viewModel.$storage.hideTaskCallout">
    <button type="button" class="close" aria-label="Close"
            ng-click="viewModel.$storage.hideTaskCallout = true">
        <span aria-hidden="true">&times;</span>
    </button>
    Create a Section for common tasks. Add a task to the section that is a specific item or feature. Select the factor for the task.
    Enter the number of tasks at appropriate complexity level.
</p>
