<div class="table-responsive" ng-repeat="section in viewModel.project.Sections">
    <table class="table table-edit table-bordered" style="table-layout: fixed">
        <colgroup>
            <col style="width: 200px" />
            <col style="width: 180px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 80px" />
            <col style="width: 30px" />
        </colgroup>
        <thead>
            <tr class="info">
                <th>Name</th>
                <th>Factor</th>
                <th>
                    <span class="hidden-xs">Very Simple</span>
                    <span class="visible-xs-block">V.Simp</span>
                </th>
                <th>
                    <span>Simple</span>
                </th>
                <th>
                    <span>Medium</span>
                </th>
                <th>
                    <span>Complex</span>
                </th>
                <th>
                    <span class="hidden-xs">Very Complex</span>
                    <span class="visible-xs-block">V.Comp</span>
                </th>
                <th>
                    <span class="hidden-xs">Total Tasks</span>
                    <span class="visible-xs-block">Tasks</span>
                </th>
                <th>
                    <span class="hidden-xs">Total Hours</span>
                    <span class="visible-xs-block">Hours</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="warning">
                <td colspan="7"><input type="text" class="form-control section-control" ng-model="section.Name" autocomplete="off" /></td>
                <td><p class="form-control-static">{{section.TotalTasks}}</p></td>
                <td><p class="form-control-static">{{section.TotalHours}}</p></td>
                <td>
                    <div class="btn-group pull-right">
                        <a class="btn btn-link btn-sm" ng-click="viewModel.removeSection(section)"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="task in section.Tasks">
                <td><input type="text" class="form-control" ng-model="task.Name" autocomplete="off" /></td>
                <td>
                    <select class="form-control no-style"
                            ng-model="task.FactorId" 
                            ng-options="factor.Id as factor.Name for factor in viewModel.project.Factors">
                        <option value="">-- select --</option>
                    </select>
                </td>
                <td><input type="number" class="form-control" ng-model="task.VerySimple" autocomplete="off" /></td>
                <td><input type="number" class="form-control" ng-model="task.Simple" autocomplete="off" /></td>
                <td><input type="number" class="form-control" ng-model="task.Medium" autocomplete="off" /></td>
                <td><input type="number" class="form-control" ng-model="task.Complex" autocomplete="off" /></td>
                <td><input type="number" class="form-control" ng-model="task.VeryComplex" autocomplete="off" /></td>
                <td class="active"><p class="form-control-static">{{task.TotalTasks}}</p></td>
                <td class="active"><p class="form-control-static">{{task.TotalHours}}</p></td>
                <td class="active">
                    <div class="btn-group pull-right">
                        <a class="btn btn-link btn-sm" ng-click="viewModel.removeTask(section, task)"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10">
                    <div class="btn-group">
                        <a class="btn btn-link btn-sm" ng-click="viewModel.addTask(section)"><i class="glyphicon glyphicon-plus"></i> Add Task</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-link btn-sm" ng-click="viewModel.addSection()"><i class="glyphicon glyphicon-plus"></i> Add Section</a>
                    </div>
                    <a class="btn btn-link btn-sm" ng-click="viewModel.reorderTasks(section)" ng-show="section.Tasks.length > 1">
                        <i class="glyphicon glyphicon-sort"></i> Reorder Tasks
                    </a>

                </th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="btn-group">
    <a class="btn btn-link btn-sm" ng-click="viewModel.addSection()">
        <i class="glyphicon glyphicon-plus"></i> Add Section
    </a>
    <a class="btn btn-link btn-sm" ng-click="viewModel.reorderSections()" ng-show="viewModel.project.Sections.length > 1">
        <i class="glyphicon glyphicon-sort"></i> Reorder Section
    </a>
</div>

