@{
    ViewBag.Title = "Project Report ";
}
@section HeadContent
{
    <style>
        h4 {
            margin-top: 20px;
        }
        @@media print {
            tbody {
                -moz-page-break-inside: avoid;
                page-break-inside: avoid;
            }

            .page-break {
                display: block;
                page-break-before: always;
            }
        }
    </style>
}
<div class="container"
     ng-controller="projectReportController"
     ng-init="viewModel.load('@Model')">

    <ol class="breadcrumb hidden-print">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("Index")">Projects</a></li>
        <li><a href="@Url.Action("Edit", new {id = Model})">Edit</a></li>
        <li class="active">Report</li>
    </ol>

    @Html.Partial("_Report")
</div>
