@model Estimatorx.Web.Models.ReportModel
@{
    ViewBag.Title = "Project Report";
}
@section HeadContent
{
    <style>
        h4 {
            margin-top: 20px;
        }

        @@media print {
            tbody {
                -moz-page-break-inside: avoid;
                page-break-inside: avoid;
            }

            .page-break {
                display: block;
                page-break-before: always;
            }
        }
    </style>
}
<div class="container"
     ng-controller="projectReportController"
     ng-init="viewModel.load('@Model.Id', '@Model.Key')">

    @Html.Partial("_Report")

    <a href="@Url.Action("Share", "Download", new {id = Model.Id, key = Model.Key})" class="btn btn-default hidden-print" target="_blank">
        <i class="fa fa-download"></i>
        Download
    </a>
</div>
