<table id="assumptions-edit-table" class="table table-edit table-bordered">
    <colgroup>
        <col style="" />
        <col style="width: 40px" />
    </colgroup>
    <thead>
        <tr>
            <th>Assumption</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Assumptions.Select((e, i) => new { Value = e, Index = i }))
        {
            <tr>
                <td>
                    <input type="text"
                       id="@($"assumption-input-{item.Index}")"
                       value="@item.Value"
                       @onchange="@(e => Assumptions[item.Index] = e.Value.ToString())"
                       class="form-control"
                       placeholder="Enter Assumption"
                       autocomplete="off" />
                </td>
                <td class="active" style="text-align: center">
                    <button type="button"
                        id="@($"assumption-delete-{item.Index}")"
                        @onclick="() => HandleDelete(item.Index)"
                        title="Delete Assumption"
                        class="btn btn-outline-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <button type="button"
                        id="assumption-add-button"
                        @onclick="HandleAdd"
                        class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-plus"></i> Add Assumption
                </button>
                <button type="button"
                        id="assumption-reorder-button"
                        @onclick="HandleReporder"
                        class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-sort"></i> Reorder Assumptions
                </button>
            </td>
        </tr>
    </tfoot>
</table>


