@inherits ProjectComponentBase<TStore, TRepository, TModel>
@typeparam TStore
@typeparam TRepository
@typeparam TModel

<div class="row">
    <div class="col">
        <div class="accordion-epic" id="@ParentCollapse">
            <Conditional Show="Model != null">
                <Repeater Items="Model.Epics">
                    <Row Context="epic">
                        <EpicEditor Epic="epic"
                                    ParentCollapse="@ParentCollapse"
                                    TStore="TStore"
                                    TRepository="TRepository"
                                    TModel="TModel" />
                    </Row>
                </Repeater>
            </Conditional>
        </div>
    </div>
</div>

<div class="row pt-2">
    <div class="col">
        <button type="button"
                id="@(Identifier("add-button"))"
                @onclick="EpicAdd"
                class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-plus"></i> Add Epic
        </button>

        <button type="button"
                id="@(Identifier("order-button"))"
                @onclick="EpicReorder"
                class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-sort"></i> Reorder Epics
        </button>
    </div>
</div>


