@inherits ProjectComponentBase

<div class="row">
    <div class="col">
        <div class="accordion-epic" id="@ParentCollapse">
            <Conditional Show="Project != null">
                <Repeater Items="Project.Epics">
                    <Row Context="epic">
                        <EpicEditor Epic="epic" ParentCollapse="@ParentCollapse" />
                    </Row>
                </Repeater>
            </Conditional>
        </div>
    </div>
</div>

<div class="row pt-2">
    <div class="col">
        <button type="button"
                id="@(Identifier("add-button"))"
                @onclick="EpicAdd"
                class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-plus"></i> Add Epic
        </button>

        <button type="button"
                id="@(Identifier("order-button"))"
                @onclick="EpicReporder"
                class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-sort"></i> Reorder Epics
        </button>
    </div>
</div>


