<div class="accordion-feature"
     id="@ParentCollapse">

    @if (Features != null)
    {
        foreach (var feature in Features)
        {
            <FeatureEditor Feature="feature" ParentCollapse="ParentCollapse" />
        }
    }
</div>

@code {

    [Parameter]
    public List<FeatureEstimate> Features { get; set; }


    private Guid Id => Guid.NewGuid();

    private string ParentCollapse => $"feature-parent-{Id}";
}
