<ul class="nav nav-tabs card-header-tabs float-end">
    @if (Project != null)
    {
        <li class="nav-item">
            <NavLink id="organization-members-tab-link"
                 Match="NavLinkMatch.All"
                 ActiveClass="active"
                 class="nav-link"
                 href="@($"/projects/{Project.Id}/{Project.OrganizationId}")"
                 title="Project Assumptions">Summary</NavLink>
        </li>
        <li class="nav-item">
            <NavLink id="organization-general-tab-link"
                 Match="NavLinkMatch.All"
                 ActiveClass="active"
                 class="nav-link"
                 href="@($"/projects/{Project.Id}/{Project.OrganizationId}/details")"
                 title="Project Details">Details</NavLink>
        </li>
        <li class="nav-item">
            <NavLink id="organization-members-tab-link"
                 Match="NavLinkMatch.All"
                 ActiveClass="active"
                 class="nav-link"
                 href="@($"/projects/{Project.Id}/{Project.OrganizationId}/estimation")"
                 title="Project Assumptions">Estimation</NavLink>
        </li>
        <li class="nav-item">
            <NavLink id="organization-members-tab-link"
                 Match="NavLinkMatch.All"
                 ActiveClass="active"
                 class="nav-link"
                 href="@($"/projects/{Project.Id}/{Project.OrganizationId}/settings")"
                 title="Project Assumptions">Settings</NavLink>
        </li>
    }
</ul>


